<section class="selectAgent">

    <ul id="agentOutput">
        {% for agent in agents %}
          {% if agent.isPlayableCharacter == true %}

          <li class="agentCard">
            {% if showAbilities %}
            <ul class="abilities">
                {% for ability in agent.abilities %}
                  {% if ability.slot != "Passive" %}
                    <li>
                      <figure class="ability">
                        <figcaption class="abilityName">{{ ability.displayName }}</figcaption>
                        <img  id="{{ agent.uuid }}-{{ forloop.index }}"  src={{ ability.displayIcon }} alt="" draggable="true">
                      </figure>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
              
              <img src={{ agent.displayIcon }} alt="" draggable="true" class="agentIcon">
              <article>
                <div>
                  <h3>name</h3>
                  <p>{{ agent.displayName }}</p>
                </div>
                <div>
                  <h3>role</h3>
                  <p>{{ agent.role.displayName }}</p>
                </div>
              </article>
           

          </li>
          {% endif %}
        {% endfor %}
      </ul>
</section>
