<section class="selectAgent">
    <ul>
        {% for agent in agents.data %}
          {% if agent.isPlayableCharacter == true %}
          <li class="agentCard">
            <ul class="abilities">
              
                {% for ability in agent.abilities %}
                  {% if ability.slot != "Passive" %}
                    <li class="ability"><img id="{{ agent.uuid }}-{{ forloop.index }}"  src={{ ability.displayIcon }} alt="" draggable="true">
                    <p class="abilityName">{{ ability.displayName }}</p></li>
                  {% endif %}
                {% endfor %}
              
              </ul>
              <p>{{ agent.displayName }}</p>
              <img src={{ agent.displayIcon }} alt="" >
              <p>{{ agent.role.displayName }}</p>

          </li>
          {% endif %}
        {% endfor %}
      </ul>
</section>
