<section class="selectAgent">
  <search>
    <form method="get">
      {% comment %} Name zorgt voor key form + action is voor andere route {% endcomment %}
    <label for="searchAgent">Zoek een agent:</label>
      <input type="search" id="searchAgent" name="search" value="{{ query }}" />
      <button type="submit">Zoek</button>
    </form>
  </search>
    <ul id="agentOutput">
        {% for agent in agents %}
          {% if agent.isPlayableCharacter == true %}
            <form method="get" action="/agents/{{ agent.uuid }}">
              <button id="infoAgent" type="submit">ℹ️</button>
            </form>

          <li class="agentCard">
            <ul class="abilities">
              
                {% for ability in agent.abilities %}
                  {% if ability.slot != "Passive" %}
                    <li>
                      <figure class="ability">
                        <figcaption class="abilityName">{{ ability.displayName }}</figcaption>
                        <img  id="{{ agent.uuid }}-{{ forloop.index }}"  src={{ ability.displayIcon }} alt="" draggable="true">
                      </figure>
                    </li>
                    
                  {% endif %}
                {% endfor %}
              
              </ul>
              <p>{{ agent.displayName }}</p>
              <img src={{ agent.displayIcon }} alt="" draggable="true" class="agentIcon">
              <p>{{ agent.role.displayName }}</p>

          </li>
          {% endif %}
        {% endfor %}
      </ul>
</section>
